.results-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    border-radius: 5px;

    & p {
      text-transform: capitalize;
      text-align: center;
    }

    @media (prefers-color-scheme: light) {
      & {
        border-color: #000;
      }
    }
  }
}
